@font-face {
	font-family: "HumanBBYWeb";
	src: url("https://cdn.flashtalking.com/136864/HumanaBBY_2024_fontsRL/HumanBBY-55Regular-Web.woff2") format("woff2"),
		url("https://cdn.flashtalking.com/136864/HumanaBBY_2024_fontsRL/HumanBBY-55Regular-Web.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "HumanBBYWeb";
	src: url("https://cdn.flashtalking.com/136864/HumanaBBY_2024_fontsRL/HumanBBY-75Bold-Web.woff2") format("woff2"),
		url("https://cdn.flashtalking.com/136864/HumanaBBY_2024_fontsRL/HumanBBY-75Bold-Web.woff") format("woff");
	font-weight: bold;
	font-style: bold;
}
@font-face {
	font-family: "HumanBBYWeb-medium";
	src: url("https://cdn.flashtalking.com/136864/HumanaBBY_2024_fontsRL/HumanBBY-Web-65-Medium.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: "HumanBBYWeb", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;
	font-size: 13px;
	font-style: normal;
	color: #000;
}

div {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#container,
#container::after,
.absolute {
	position: absolute;
	left: 0px;
	top: 0px;
}

#container,
#container::after,
.ad-size {
	height: 1050px;
	width: 300px;
}

#container {
	display: block;
	cursor: pointer;
	/* background-color: #001b69; */
	background-image: url("../images/bg_300x1050.png");
	position: absolute;
	overflow: hidden;
	opacity: 0;
}

#container::after {
	content: "";
	pointer-events: none;
	box-sizing: border-box;
	border-color: inherit;
	border-width: 1px;
	border-style: solid;
	position: absolute;
	z-index: 999;
	height: 100%;
	width: 100%;
}

#carousel {
	background-color: #ffffff;
	overflow: hidden;
	height: auto;
	width: 100%;
	bottom: 0px;
	top: 124px;
}

#arrow_prev,
#arrow_next {
	cursor: pointer;
    position: absolute;
    z-index: 5;
    width: 60px;
    left: 120px;
    top: 148px;
}

#arrow_next {
	top: 668px;
}

#carousel_items {
	overflow: hidden;
	position: absolute;
	z-index: 5;
	height: 100%;
	width: 100%;
	top: -22px
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
}

.product .product-image {
	flex-grow: 0;
	flex-shrink: 0;
    margin-top: 286px;
	height: 176px;
    width: 270px;
}

.product .product-info {
	display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    flex-direction: column;
	padding-right: 18px;
    padding-left: 30px;
    margin-top: 25px;
    height: auto;
    width: 100%;
}

.product .product-price {
	color: #000;
	/* color: #2c363e; */
	font-size: 24.2px;
	font-weight: 700;
	letter-spacing: -0.05em;
}

.product .product-price .dollar-sign {
	/* font-size: 1.05em; */
	padding-right: 1px;
}

.product .product-desc {
	font-size: 13px;
	line-height: 1.3em;
	margin-top: 3px;
	max-height: 30px;
	max-width: 100%;
	height: 30px;
}

.product .product-cta {
    font-family: "HumanBBYWeb-medium";
    cursor: pointer;
    border-radius: 5px 5px;
    background-color: #FFF200;
    border: 1px solid #FFF200;
    text-align: center;
    /* font-weight: bold; */
    font-size: 18px;
    padding: 6px 12px;
    margin-top: 24px;
    letter-spacing: -0.02em;
    margin-right: 131px;
}

#legal {
    color: #000000;
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    bottom: 4px;
    right: 4px;
}


#intro_icon1 {left: 0px;}



#f2bg{opacity: 0;}
	
	#defaultImg {
		position: absolute;
		top: 0;
		left: 0;
		width: 300px;
		z-index: 100;
	}