@font-face {
	font-family: "HumanBBYWeb";
	src: url("https://cdn.flashtalking.com/136864/HumanaBBY_2024_fontsRL/HumanBBY-55Regular-Web.woff2") format("woff2"),
		url("https://cdn.flashtalking.com/136864/HumanaBBY_2024_fontsRL/HumanBBY-55Regular-Web.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "HumanBBYWeb";
	src: url("https://cdn.flashtalking.com/136864/HumanaBBY_2024_fontsRL/HumanBBY-75Bold-Web.woff2") format("woff2"),
		url("https://cdn.flashtalking.com/136864/HumanaBBY_2024_fontsRL/HumanBBY-75Bold-Web.woff") format("woff");
	font-weight: bold;
	font-style: bold;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: "HumanBBYWeb", Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, sans-serif;
	font-size: 13px;
	font-style: normal;
	color: #000;
}

div {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#container,
#container::after,
.absolute {
	position: absolute;
	left: 0px;
	top: 0px;
}

#container,
#container::after,
.ad-size {
	height: 50px;
	width: 300px;
}

#container {
	cursor: pointer;
	display: block;
	background-color: #fff;
	position: absolute;
	overflow: hidden;
	opacity: 0;
}

#container::after {
	content: "";
	pointer-events: none;
	box-sizing: border-box;
	border-color: inherit;
	border-width: 1px;
	border-style: solid;
	position: absolute;
	z-index: 999;
	height: 100%;
	width: 100%;
}


#carousel {
	overflow: hidden;
	width: auto;
	right: 0px;
    left: 50px;
}

#arrow_prev,
#arrow_next {
	cursor: pointer;
	position: absolute;
    height: 34px;
    left: 0px;
    top: 8px;
}

#arrow_next {
	right: 0px;
	left: auto;
}

#carousel_items {
	overflow: hidden;
	position: absolute;
	height: 100%;
	width: auto;
	right: 20px;
	left: 20px;
}

.product {
	display: flex;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
}

.product .product-image {
	flex-grow: 1;
	flex-shrink: 0;
    margin-left: 7px;
	height: 46px;
    width: 70px;
}

.product .product-info {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
    margin-right: 7px;
    margin-left: 7px;
	padding-bottom: 8px;
	padding-top: 8px;
	height: 100%;
	width: 100%;
}

.product .product-price {
	color: #000;
	/* color: #2c363e; */
	font-size: 13.6px;
	font-weight: 700;
}



.product .product-desc {
	font-size: 8px;
	line-height: 1.25em;
	margin-top: 4px;
	max-height: 20px;
}

#legal {
	color: #000000;
    font-weight: normal;
    font-size: 8px; 
    letter-spacing: -0.03em;
	position: absolute;
    bottom: 3px;
    left: 4px;
}

#intro_icon1 {left: 77px;}

#defaultImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    z-index: 100;
}
#f2bg {opacity: 0;}